#movie-result {
  background: white;
  
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 150px; 
  margin-right: 150px; 
}

#book-result {
  background: white;
  
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
   margin-left: 150px; 
  margin-right: 150px; 
}

hr {
  height: 5px;
  background-color: black;
}

body{
  text-align: center;
  background-color: cornflowerblue;
  
}
h1 {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}
.lightblue {
  background-color: lightblue; 
}